---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description:
    "Learn about Vijayabaskar, a passionate full-stack developer from India who loves building innovative solutions, staying updated with tech trends, and engaging in nerdy conversations about philosophy and anime.",
  title: "About",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">About</h1>
  <!-- <Image class="lg:float-right lg:ml-4 lg:w-2/5" src={""} alt="mountains" /> -->

  <p class="leading-[30px] pb-3">
    Hey, I am <span style="color: #cb5c40;">Vijayabaskar</span>, a Full Stack
    Developer from India. Passionate about experimenting with and creating
    things from a young age, I have always been fascinated by understanding how
    things work and rebuilding them.
  </p>

  <p class="leading-[30px] pb-3">
    Programming became my ultimate playground for this curiosity. I tackle
    challenges head-on, always finding solutions even in uncharted territories.
    As a tech enthusiast, I stay updated with the latest trends.
  </p>

  <p class="leading-[30px] pb-3">
    My team-oriented and friendly nature allows me to fit seamlessly into any
    collaborative environment. I love engaging in nerdy conversations about
    tech, morals, philosophy, and anime. Let's connect to build awesome stuff
    and have crazy nerdy talks!
  </p>
</PageLayout>
